<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Ninkasi - Bierminen</title>
</head>

<body>
    <h2>Ninkasi index</h2>
    <p>There are two ways to use Ninkasi: query for a single beer style by its number or query for all beer styles.</p>
    
    <h3>Query for a beer style</h3>
    <p>To query for a single beer style, access append the following to URI --change <code>50</code> as you wish:</p>
    <a href="/style/50"><pre>/style/50</pre></a>

    <h3>Query for all styles</h3>
    <p>To retrieve all styles, use the following URI paramenter:</p>
    <a href="/style"><pre>/style</pre></a>

    <h3>More</h3>
    <p>Fork me at <a href="https://github.com/bierminen/ninkasi">GitHub</a>!</p>
    <p>Like us on <a href="https://facebook.com/bierminen">Facebook</a>!</p>
</body>
</html>

